body div#page{
	width:100%;
}

.spip_logo .spip_logos{max-width:40%;height:auto;}

#nav_projet{
	width:100%;
	overflow:auto;
	padding:5px 0;
}

#nav_projet .formulaire_recherche{
	width:15em;
	float:left;
	margin:0 5px;
}

#nav_projet .precedent_suivant{
	float:right;
	margin:0 5px;
}

.texte .spip_documents_left,
.texte .spip_documents_right{
	max-width:40%;
	height:auto;
}
.texte .spip_documents_left img,
.texte .spip_documents_right img{
	max-width:100%;
	height:auto;
}
#page #conteneur{
	width:62%;
	position:relative;
	margin:10px auto;
}

#page #conteneur #contenu{
	width:60%;
}

body div#conteneur #navigation{
	width:7%;
	padding:2% 0;
}

body div#conteneur #navigation img{
	padding-top:10px;
	width:100%;
	height:auto;
}

body #conteneur .cartouche .spip_logos{
	float:right;
	margin: 0 0 10px 10px;
}

body h3.spip{
	border:none;
}

#page hr.spip{
	margin:.5em 0;
}
body div#conteneur #extra{
	width:27%;
}
#page div#conteneur #extra .extra_3{
	width:96%;
	padding:2%;
	float:left;
}

#page div#conteneur #extra .extra_4{
	float: left;
	padding: 2%;
	width: 63%;
	float:left;
}

.headline{
	overflow:hidden;
}

#page #menu_lang a:hover{
	color:transparent;
}

body #extra h3{
	background:transparent;
	padding:4px 0;
	font-size:.9em;
}

body #extra h2, body .projets_lies li{
	padding-left:24px;
	background:transparent url(../images/fle_droite.gif) no-repeat 2px 2px;
}

.documents_portfolio,.articles_lies ul {
	overflow:auto;
	margin:10px 0;
}

.documents_portfolio li,
.articles_lies li{
	list-style-type:none;
	float:left;
	margin:3px;
	position:relative;
	font-size:.85em;
	border:none;
	border:3px solid #000;
}

.articles_lies li{
	border:2% solid #000;
	margin:1%;	
}
.documents_portfolio  li:hover,
.articles_lies li:hover,
.articles_lies li.on{
	border-color:#ccc;
}

.documents_portfolio li a,.articles_lies li a{
	display:block;
}
.documents_portfolio li .crayon-icones{
	position:absolute;
	top:0;
	right:0;
	float:none;
	left:auto;
}

.articles_lies li{
	width:27%;
}
.articles_lies li img{
	width:100%;
	height:auto;
}
.document_portfolio{
	text-align:center;
}
.document_portfolio img{
	margin:10px auto;
}

body .ps{
	clear:both;
}

#extra .vevent{
	border:none;
}

#contenu .texte p {
	padding: 0;
}

.spip_documents_center img,
.document_portfolio img,
.brochures img.spip_logos{width:100%;height:auto;}

.spip_documents_center{width:100%;display:block;}


/************************************************************************************
smaller than 1024
*************************************************************************************/
@media screen and (max-width: 1024px) {
	#page #conteneur{
		width:90%;
	}
}


/************************************************************************************
smaller than 800
*************************************************************************************/
@media screen and (max-width: 800px) {
	#page #conteneur #contenu{
		width:87%
	}
	body div#conteneur #extra {
    	width: 91%;
    	display:block;
    	float:right;
	}

}


/************************************************************************************
smaller than 480
*************************************************************************************/
@media screen and (max-width: 480px) {


}
