	<plugin>	<nom>		Spip Quicktime	</nom>	<auteur>[Kent1->http://kent1.sklunk.net] pour le [Collectif OTRA->http://www.o-tra.net]_ &copy; 2008 - Distribu&#233; sous licence GNU/LGPL	</auteur>	<version>	0.1	</version>	<etat>	dev	</etat>	<icon>	qt_logo.png	</icon>	<description>	Un peu de doc et de description	</description>	<lien>http://kent1.sklunk.net/</lien>	<prefix>	quicktime	</prefix>	<necessite id='cfg' version='[1.2;]' />	<necessite id="palette" version="[1.2.1;]" />	<necessite id="lib:jquery-tooltip" src="http://jquery.bassistance.de/tooltip/jquery.tooltip.zip" />	<pipeline>		<nom>header_prive</nom>		<inclure>quicktime_pipeline.php</inclure>	</pipeline></plugin>